<?xml version="1.0" encoding="UTF-8"?>



<configuration scan="true">

	
	
	

	<property name="LOG_NAME" value="raptor-ui" />
	

	<property name="LOG_HOME" value="/var/log/raptor-ui" />

	<property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} [%X{req.method}][%X{user}] %clr(---){faint} %clr([%15.15t{14}]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex"/>
	<property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } [%X{req.method}][%X{user:-system}] [%t] --- %-40.40logger{39} : %m%n%wex"/>
	
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	
	
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/${LOG_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_HOME}/${LOG_NAME}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
	
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>${FILE_LOG_PATTERN}</Pattern>
		</layout>
	</appender>
	



	<root level="INFO" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.springframework.web" level="INFO" additivity="true" />
	
	<logger name="org.opensaml" level="INFO" additivity="true" />
	

	<logger name="org.opensaml.saml2.metadata" level="INFO" additivity="true"/>
	
	<logger name="org.springframework.security.saml.log" level="DEBUG" additivity="true"/>
	
	
	<!-- this logger logs the filter called in response to IdP AuthN -->
	<logger name="org.springframework.security.saml.SAMLProcessingFilter" level="DEBUG" additivity="true"/>
	
	<!-- this logger logs the entry point on forced SAML login /saml/login or from failed authn (if configured) -->
	<logger name="org.springframework.security.saml.SAMLEntryPoint" level="DEBUG" additivity="true"/>
	
	
	 
	 <logger name="org.springframework.web.filter" level="DEBUG" additivity="true"/>

	
	<logger name="org.opensaml.saml2.metadata.provider.AbstractReloadingMetadataProvider" level="DEBUG" additivity="true"/>


	<logger name="org.apache.myfaces.config" level="TRACE" additivity="true" />

	<logger name="ch.qos.logback.classic" level="TRACE" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="org.springframework.security.web.session" level="TRACE" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	

	
	<logger name="org.springframework.jdbc.core" level="TRACE" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="org.springframework.security.core.session" level="TRACE" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>


	<logger name="uk.ac.cardiff" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="uk.ac.cardiff.raptor.ui.jdbc" level="TRACE" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	
	

</configuration>